.siderWrap {
    width: 100%;
    .menuIcon{
        font-size: 12px;
        margin-right: 8px;
    }
    :global {
        .ant-menu {
            background: #171D2C;
            box-sizing: content-box;
            .ant-menu-item {
                color: #ffffff;
                font-size: 12px;
            }
            .ant-menu-submenu {
                .ant-menu-sub {
                    background: #090C13;
                }
                .ant-menu-submenu-title {
                    color: #ffffff;
                    font-size: 12px;
                }
                .ant-menu-item {
                    color: #9BA0AA;
                    font-size: 12px;
                }
            }
            .ant-menu-item-selected {
                background: #1E74FF;
                color: #ffffff !important;
            }
        }
        .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title{
            width: 100%;
        }
        .ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after{
            border:none;
        }
    }
}
